<!DOCTYPE html>
<html>
  <head>
    <title>HOME PAGE OF WEBSITE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div id="overlayer">
      <div id="register">
        <i class="ri-close-fill" id="close"></i>
        <div id="registerlogo"></div>
        <h1>Welcome to Pinterst</h1>
        <h3>Find new Ideas to try</h3>
        <form id="form" action="/register" method="post">
          <label>Username</label>
          <input type="text" name="username" id="username" />
          <label>email</label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="email"
          /><br />
          <label>password</label>
          <input
            type="text"
            name="password"
            id="password"
            placeholder="password"
          /><br />
          <label>Age</label>
          <input type="text" name="age" id="age" placeholder="age" />
          <button type="submit">Continue</button>
          <div id="or"><h2>OR</h2></div>
          <div id="countinue">
            <a href="">continue with google</a>
            <div id="google"></div>
          </div>
        </form>
        <div class="register-footer">
          <p>
            by continuing you agree the Pinterst
            <span>terms and services</span> and acknowledge you have<span
              >read privacy policy and Notice and collection</span
            >
          </p>
        </div>
        <div id="redirect-to-login">
          <p>Already a member?</p>
          <a href="">Login</a>
        </div>
      </div>
      <div id="login-section">
        <i class="ri-close-fill" id="close"></i>
        <div id="login-logo"></div>
        <h1>Welcome to Pinterest</h1>
        <form id="login-form" action="/login" method="post">
          <label>username</label>
          <input type="text" name="username" id="email" placeholder="email" />
          <label>password</label>
          <input
            type="text"
            name="password"
            id="password"
            placeholder="password"
          />
          <div class="forget"><a href="">forget your password?</a></div>
          <button type="submit">Continue</button>
          <div id="or"><h2>OR</h2></div>
          <div id="google1">
            <a href="">Continue with google</a>
            <div id="googleimg"></div>
          </div>
        </form>
        <div id="login-footer">
          <p>
            by continuing you agree the Pinterst
            <span>terms and services</span> and acknowledge you have
            <span>read privacy policy and Notice and collection</span>
          </p>
        </div>
        <hr />
        <div id="redirect-to-signup">
          <p>Not a Pinterest member?</p>
          <a href="">Sign up</a>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="logo">
        <div id="logo"></div>
        <h1>Pinterst</h1>
      </div>
      <div class="nav">
        <a href="">about</a>
        <a href="">business</a>
        <a href="">blog</a>
        <div class="button-section">
          <button id="login">Login</button>
          <button id="signup">Signup</button>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="mycards">
        <div class="card">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1485871882310-4ecdab8a6f94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVkJTIwcG90cmFpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img" style="margin-bottom: 10px">
            <img
              src="https://images.unsplash.com/photo-1495991602988-b15030d76a0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVkJTIwcG90cmFpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
          </div>
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1495624423019-fdbb969dd0fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVkJTIwcG90cmFpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img" style="margin-bottom: 10px;">
            <img
              src="https://images.unsplash.com/photo-1541367777708-7905fe3296c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1195&q=80"
              alt=""
            />
          </div>
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1514163161321-f4f7c2a90296?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1558879787-4c4aea1fbb83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1613746203812-717e6e5db3da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
            />
          </div>
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1678729466198-a34ccca023c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1626569241812-bf6ed3f65753?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="./javascripts/script.js"></script>
  </body>
</html>
