/* @font-face {
    font-family: myfont;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#pin-section{
 position: relative;
 width: 100%;
 min-height: 100vh;
}
#upload-photo-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    min-height: 85vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
#upload-photo-section>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1vw 0.5vw;
    font-size: 2.5vw;
    font-weight: 600;
    gap: 10px;
}
#upload-photo-section>h1>span{
    padding-top: 0.5vw;
    color: #e60023 ;
}
#upload-form{
    display: flex;
    width: 100%;
    min-height: 80vh;
    /* background-color: #b3afaf; */
}

/*--------------------------------------------------------------------------------------------------*/
#upload-details{
    width: 100%;
    min-height: 80vh;
    /* background-color:antiquewhite; */
}
#upload-details>#title{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 50vw;
    padding: 1vw 1vw;
    font-size: 2.5vw;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: transparent;
}
#upload-details>#title::placeholder{
    font-weight: 800;
    letter-spacing: 3px;
}
#upload-details>hr{
    margin: 0 2vw;
}
#upload-details>hr{
   margin-top: 0.5vw;
}
#upload-details>#upload-profile-section{
    display: flex;
    justify-content:start;
   align-items:center;
    gap: 10px;
    width: 90%;
    min-height: 15vh;
    margin-top: 10px;
    padding-left: 0.65vw;
    margin-left: 1.6vw;
}
#upload-details>#upload-profile-section>#profile-photo{
    width:4vw;
    height:4vw;
    background-color: #b3afaf;
    border-radius: 50%;
}
#upload-details>#upload-profile-section>#profile-photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#upload-details>#upload-profile-section>#profile-details{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 10vh;
    padding-top: 0.8vw;
    padding-left: 0.5vw;
}
#upload-details>#description{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 50vw;
    padding: 1vw 1vw;
    font-size: 1.5vw;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: transparent;
}
#upload-details>#submitButton{
    margin-top: 2vw;
    margin-left: 1.9vw;
    width: 12vw;
    height: 3vw;
    background-color: #b3afaf;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
#upload-details .form-label{
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0.5vw 1vw;
    font-size: 2.0VW;
    color: #757575;
    margin-left: 2vw;
    font-weight: 600;
    gap: 10px;
}
#upload-details .form-label>span{
    color: #03ac9d;
    padding-top: 0.5vw;
}
#upload-details #formFile{
    font-size: 1.5vw;
    padding: 1vw 0.5vw;
    width: 90%;
    margin-left: 2vw;
    font-family: myfont !important;
}