/* @font-face {
    font-family: myfont;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#form-update-section{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #e9e9e9;
}
#form-update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
#form-update>h1{
    font-size: 2.5vw;
    width: 100%;
    padding: 1vw 1vw;
    margin-top: 1.0vw;
    padding-left: 2vw;
    text-align: center;
}

#update-form{
    position: relative;
    display: flex;
    justify-content: center; 
    width: 100%;
    min-height: 60vh;
    margin-top: 0.5vw;
    padding-left: 1vw;
    
}
.update-form-1{
    width: 45%;
    min-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    margin-bottom: 2vw;
}
.update-form-1>h1{
    width: 90%;
    font-size: 2.0vw;
    padding: 0.5vw 0.5vw;
    background-color: red;
    margin-top: 1vw;
    margin-left: 1vw;
    background-color: #fff;
   border-radius: 20px;
}
#update-form>.name{
    width: 80%;
    margin-bottom: 1vw;
}
#name{
    width: 90%;
    margin-left: 1.3vw;
    font-size:1.7vw;
    padding: 0.5vw 0.5vw;
    border-radius: 20px;
}
#upload{
    padding-top: 2vw;
    padding-left: 1.5vw;
    padding-bottom: 0.5vw;
    font-size: 0.9vw;
}
.name>label{
    font-size: 0.9vw;
    padding-left: 1.3vw;
}
.name>input{
    margin-top: 10px;
    width: 40vw;
    height: 4vw;
   margin-left: 1vw;
   margin-bottom: 1vw;
   font-size: 1.2vw;
   padding: 0 1vw;
   border-radius: 20px;
   border: 2px solid #e0e0e0 ;
}
.name>select{
    width: 40vw;
    padding: 1vw 0;
    margin-top: 1vw;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
    border-radius: 10px;
    font-size: 1.2vw;
    color:black;
    opacity: 0.6;
}
.name>#submit{
    width: 20vw;
    height: 3vw;
    background-color: white;
}
