/* @font-face {
    font-family: myfont;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5vw 0.5vw;
    font-size: 2.0vw;
}
.heading h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5vw 0.5vw;
    gap: 10px;
}
.heading h1>span{
    padding-top: 1vw;
    color: #e60023;
}
#board-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    min-height: 90vh;
    padding-top: 1vw;
   padding-left: 0.5vw;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 20%;
   height: 60vh;
   border-radius: 20px;
}
.card-photo{
    width: 90%;
    height: 50vh;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 90%;
    height: 10vh;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 0.5vw;
}
.card-title>h3{
    font-weight: 300 !important;
    font-size: 2.5vw;
}
.card-title>a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    background-color:#e60023;margin-top: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 1.5vw;
}